nav li {
    display: inline-block;
    padding: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: lightgray;
    width: 100%;
}

.title {
    text-align: center;
    color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    text-shadow: 1px 1px 1px lightgray;
}

.subtitle {
    font-size: 3rem;
    color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 2rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: grid;
}